<!DOCTYPE html>
<html>
  <head>
    <title>EveryLeaf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">EveryLeaf</a>
          <ul class="nav">
            <% if logged_in? %>
              <% if current_user.is_admin? %>
              <li class="nav-item">
                <%= link_to "Dashboard", admin_users_path, class: "nav-link text-white" %> 
              </li>
              <% end %>
              <li class="nav-item">
                <%= link_to "View Tasks", tasks_path, class: "nav-link text-white" %> 
              </li>
              <li class="nav-item">
                <%= link_to "Profile", user_path(current_user.id), class: "nav-link text-white" %> 
              </li>
              <li class="nav-item">
                <%= link_to "Logout", session_path(current_user.id), method: :delete, class: "nav-link text-white" %> 
              </li>
            <% else %> 
              <li class="nav-item">
                <%= link_to "Sign up", new_user_path, class: "nav-link text-white" %> 
              </li>
              <li class="nav-item">
                <%= link_to "Login", new_session_path, class: "nav-link text-white" %> 
              </li>
            <% end %> 
          </ul>
        </div>
    </nav>
    
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <% flash.each do |key, value| %> 
            <%= content_tag(:div, value, class: "alert alert-warning text-center") %> 
          <% end %>
        </div>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
